<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htzg.meatorder.dao.DailyChickenMapper">
  <resultMap id="BaseResultMap" type="com.htzg.meatorder.domain.DailyChicken">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chicken_number" jdbcType="INTEGER" property="chickenNumber" />
    <result column="chicken_type" jdbcType="VARCHAR" property="chickenType" />
    <result column="chicken_name" jdbcType="VARCHAR" property="chickenName" />
    <result column="chicken_id" jdbcType="VARCHAR" property="chickenId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, chicken_number, chicken_type, chicken_name, chicken_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.htzg.meatorder.domain.DailyChickenExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from daily_chicken
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from daily_chicken
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from daily_chicken
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.htzg.meatorder.domain.DailyChickenExample">
    delete from daily_chicken
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.htzg.meatorder.domain.DailyChicken">
    insert into daily_chicken (id, chicken_number, chicken_type, 
      chicken_name, chicken_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{chickenNumber,jdbcType=INTEGER}, #{chickenType,jdbcType=VARCHAR}, 
      #{chickenName,jdbcType=VARCHAR}, #{chickenId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.htzg.meatorder.domain.DailyChicken">
    insert into daily_chicken
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chickenNumber != null">
        chicken_number,
      </if>
      <if test="chickenType != null">
        chicken_type,
      </if>
      <if test="chickenName != null">
        chicken_name,
      </if>
      <if test="chickenId != null">
        chicken_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chickenNumber != null">
        #{chickenNumber,jdbcType=INTEGER},
      </if>
      <if test="chickenType != null">
        #{chickenType,jdbcType=VARCHAR},
      </if>
      <if test="chickenName != null">
        #{chickenName,jdbcType=VARCHAR},
      </if>
      <if test="chickenId != null">
        #{chickenId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.htzg.meatorder.domain.DailyChickenExample" resultType="java.lang.Long">
    select count(*) from daily_chicken
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update daily_chicken
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chickenNumber != null">
        chicken_number = #{record.chickenNumber,jdbcType=INTEGER},
      </if>
      <if test="record.chickenType != null">
        chicken_type = #{record.chickenType,jdbcType=VARCHAR},
      </if>
      <if test="record.chickenName != null">
        chicken_name = #{record.chickenName,jdbcType=VARCHAR},
      </if>
      <if test="record.chickenId != null">
        chicken_id = #{record.chickenId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update daily_chicken
    set id = #{record.id,jdbcType=INTEGER},
      chicken_number = #{record.chickenNumber,jdbcType=INTEGER},
      chicken_type = #{record.chickenType,jdbcType=VARCHAR},
      chicken_name = #{record.chickenName,jdbcType=VARCHAR},
      chicken_id = #{record.chickenId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.htzg.meatorder.domain.DailyChicken">
    update daily_chicken
    <set>
      <if test="chickenNumber != null">
        chicken_number = #{chickenNumber,jdbcType=INTEGER},
      </if>
      <if test="chickenType != null">
        chicken_type = #{chickenType,jdbcType=VARCHAR},
      </if>
      <if test="chickenName != null">
        chicken_name = #{chickenName,jdbcType=VARCHAR},
      </if>
      <if test="chickenId != null">
        chicken_id = #{chickenId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htzg.meatorder.domain.DailyChicken">
    update daily_chicken
    set chicken_number = #{chickenNumber,jdbcType=INTEGER},
      chicken_type = #{chickenType,jdbcType=VARCHAR},
      chicken_name = #{chickenName,jdbcType=VARCHAR},
      chicken_id = #{chickenId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>